.nav-link {
  color: white;
}

.nav-link:hover {
    color: #1abc9c;
}

.ms-background_color {
    background-color: #3a546d;
}

.ms-background_main {
    background-color: #1abc9c;
}

.ms-avatar_img  img{
    max-width: 30%;
}

.ms-barra {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;

}

.ms-barra-white {
    background-color: white;
    border-color: white;
}

.ms-barra-c {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-star {
    font-size: 40px;
    padding: 0px 20px;
}


.card img {
    max-width: 100%;
    border-radius: 10px;

}

 .ms-card {
    border: none;
}

.ms-padding {
    padding-left: 80px;
    padding-right: 80px;
}

.ms-btn-color {
    background-color: #1abc9c;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.ms-link-color {
    color: #1abc9c;
    text-decoration: none;
}

.ms-btn-radius {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.ms-background-n {
    background-color: #2c3e50;
}